.sidenav__container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(65, 83, 175, 0.25);

  .sidenav__sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    // Manejar esta propiedad con angular-flex
    // width: 270px; => Se maneja con ngStyle.xs y ngStyle.gt-xs
    // background: rgba(255, 0, 0, 0.5);
  }
}
